---
import { Image } from 'astro:assets'
import pinterest from '../assets/img/pinterest.png'
import instagram from '../assets/img/instagram.png'
import linkedin from '../assets/img/linkedin.png'
import x from '../assets/img/x.png'
import melborp from '../assets/img/melborp.gif'
---

<div class="Experience">
    <div class="Experience-social">
        <div class="social-pinterest">
            <Image src={pinterest} alt="pinterest" />
        </div>
        <div class="social-instagram">
            <Image src={instagram} alt="Instagram" />
        </div>
        <div class="social-linkedin">
            <Image src={linkedin} alt="Linkedin" />
        </div>
        <div class="social-x">
            <Image src={x} alt="x" />
        </div>
    </div>
    <div class="work">
        <div class="work-picture">
            <Image src={melborp} alt="melborp" />
        </div>
        <div class="work-information">
            <div class="information-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32">
                    <path fill="#000000" d="M25.798 10a10 10 0 0 0-19.62.124A7.496 7.496 0 0 0 7.5 25H8v-2h-.5a5.496 5.496 0 0 1-.377-10.98l.837-.057l.09-.833A7.993 7.993 0 0 1 23.736 10Z"/>
                    <path fill="#000000" d="M28 12H18a2.002 2.002 0 0 0-2 2v4h-4a2.002 2.002 0 0 0-2 2v10h20V14a2.002 2.002 0 0 0-2-2ZM12 28v-8h4v8Zm16 0H18V14h10Z"/>
                    <path fill="#000000" d="M20 16h2v4h-2zm4 0h2v4h-2zm-4 6h2v4h-2zm4 0h2v4h-2z"/>
                </svg>
                <h2>Melborp.art</h2>
            </div>
            <p>IT Technician and Front-end JR developer</p>
        </div>
    </div>
</div>

<style>
    .Experience {
        @apply 
            w-full grid grid-cols-1 grid-rows-2 justify-items-center sm:justify-items-start sm:grid-cols-2 sm:grid-rows-1 md:grid-cols-12;
        .Experience-social {
            @apply w-full max-w-xs grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] gap-4 md:col-span-4;
            div {
                @apply w-36 h-36 flex justify-center items-center rounded-xl;
            }
            .social-instagram {
                @apply bg-fuchsia-900;
            }
            .social-linkedin {
                @apply bg-blue-200;
            }
            .social-pinterest {
                @apply bg-red-300;
            }
            .social-x {
                @apply bg-black;
            }
        }
        .work {
            @apply w-full h-full my-5 px-5 py-5 grid sm:m-0 md:col-span-8 bg-white rounded-xl;
            .work-picture {
                @apply flex justify-center items-center;
            }
            .work-information {
                @apply h-fit flex flex-col justify-end;
                .information-title {
                    @apply flex items-end gap-3;
                    h2 {
                        @apply font-montserrat text-base font-bold uppercase
                    }
                }
                p {
                    @apply font-montserrat text-sm
                }
            }
        }
    }
</style>