<div class="Music">
  <img class="imagePreview" alt="Image Playlist">
  <h3 class="musicTitle"></h3>
</div>
<script>  
  const CLIENT_ID = await (import.meta.env.PUBLIC_CLIENT_ID);
  const CLIENT_SECRET = await (import.meta.env.PUBLIC_CLIENT_SECRET);
  const PLAYLIST_ID = await (import.meta.env.PUBLIC_PLAYLIST_ID);

  const authHeader = btoa(`${CLIENT_ID}:${CLIENT_SECRET}`);
  const tokenUrl = 'https://accounts.spotify.com/api/token';
  
  const mainContentMusic = document.querySelector('.Music');
  const goListen = document.createElement('a');
  mainContentMusic?.appendChild(goListen);
  const imagePreview = document.querySelector(".imagePreview");
  const titlePlaylist = document.querySelector("h3");
  
  fetch(tokenUrl, {
    method: "POST",
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded',
      'Authorization': `Basic ${authHeader}`
    },
    body: 'grant_type=client_credentials',
  })
  
  .then(response => response.json())
  .then(data => {
    const accessToken = data.access_token;
  
    const apiUrl = `https://api.spotify.com/v1/playlists/${PLAYLIST_ID}`;
  
    fetch(apiUrl, {
      method: 'GET',
      headers: {
        'Authorization': `Bearer ${accessToken}`
      }
    })
    .then(response => response.json())
    .then(result => {
      imagePreview.src = result.images[0].url;
      goListen.appendChild(imagePreview);
  
      titlePlaylist.textContent = result.name;
  
      goListen.href = result.external_urls.spotify;
    })
    .catch(error => {
      console.error('Error for call the API of Spotify:', error);
    });
  })
  .catch(error => {
    console.error('Error obtein the access token:', error);
  });
  </script>
  
  <style>
    .Music {
      @apply w-full h-full;
      .imagePreview {
        @apply rounded-2xl hover:scale-95 duration-300;
      }
      .musicTitle {
        @apply absolute text-white bottom-5 left-4 font-anton tracking-[0.4em] text-lg uppercase;
      }
    }
  </style>